body {
  display: flex;
  grid-template-columns: 1fr 4fr;
  margin: 0px;
}

h1 {
  font-size: 1.5em;
  margin-top: 50px;
}

.board {
  display: grid;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Glass effect: 20% opacity white */
  backdrop-filter: blur(10px); /* Glass effect: blur background */
  max-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  align-content: center;
}

.sq {
  border: 4px solid rgba(247, 5, 174, 0.6); /* Glass effect: 60% opacity red */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  font-family: sans-serif;
  align-content: center;
  height: 150px;
  width: 150px;
}

.sq00,
.sq01,
.sq02,
.sq10,
.sq11,
.sq12,
.sq20,
.sq21,
.sq22 {
  border-color: rgba(247, 5, 174, 0.6); /* Glass effect: 60% opacity red */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 5, 174, 0.6); /* Glass effect: 50% opacity gray */
  backdrop-filter: blur(10px); /* Glass effect: blur background */
  height: 100vh;
  gap: 40px;
}

.sidebar input {
  height: 50px;
  width: 80%;
  padding: 10px;
  padding-left: 30px;
}

.sidebar button {
  width: 80%;
  height: 50px;
  background-color: rgba(
    202,
    235,
    242,
    0.8
  ); /* Glass effect: 80% opacity light blue */
  border: 0px;
  font-size: 24px;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.sidebar button:hover {
  background-color: rgba(
    202,
    235,
    242,
    1
  ); /* Change background color on hover */
}
.sidebar button:active {
  background-color: rgba(
    202,
    235,
    242,
    0.6
  ); /* Change background color when pressed */
}
* {
  /* border: solid 2px red; */
}
